.cabecera{
    width: 100vw;
    height: 60px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #84728d;
    position: sticky;
    top: 0px;
    z-index: 10;
}

span{
    color: #e7e8da;
    font-family: Verdana;
}

#buscador{
    height: 35px;
    width: 220px;
    border-radius: 40px;
    border: none;
    padding-left: 10px;
    margin-right: 10px;
    font-size: large;
    font-family: Verdana;
}